
# Prefer US English and use UTF-8
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# Android
export PATH=$PATH:~/Development/Android/android-ndk-r9c
export PATH=$PATH:~/Development/Android/apache-ant-1.9.2/bin
export PATH=$PATH:~/Development/Android/apache-ant-1.9.4/bin
export JAVA_HOME=`/usr/libexec/java_home -v 1.6`

ANDROID_HOME_DIR=~/Development/Android/adt-bundle-mac-x86_64-20130917/sdk
if [ -d "$ANDROID_HOME_DIR" ]; then
	export ANDROID_HOME=$ANDROID_HOME_DIR
	export PATH=$PATH:$ANDROID_HOME_DIR/platform-tools
	export PATH=$PATH:$ANDROID_HOME_DIR/tools
fi

ANDROID_HOME_DIR=~/Development/Android/adt-bundle-mac-x86_64-20140321/sdk
if [ -d "$ANDROID_HOME_DIR" ]; then
	export ANDROID_HOME=$ANDROID_HOME_DIR
	export PATH=$PATH:$ANDROID_HOME_DIR/platform-tools
	export PATH=$PATH:$ANDROID_HOME_DIR/tools
fi

#Emscripten
export PATH=$PATH:/opt/emsdk_portable:/opt/emsdk_portable/clang/e1.16.0_64bit:/opt/emsdk_portable/node/0.10.18_64bit/bin:/opt/emsdk_portable/emscripten/1.16.0

#PHP
export PATH=$PATH:/Applications/MAMP/bin/php/php5.4.10/bin

#Misc
export THEOS=/opt/theos

#CocoaPods
export POD_LOCAL_HOME=~/Development/PodsLocal
